{% extends 'ApplicationApiDefaultBundle::layout.html.twig' %}

{% block body %}
    <p class="lead">hello world</p>
    <img src="{{ 'media/ANGELLA-KATATUMBA-INTERVIEW-PHOTO-HIPIPO-NEWS2.jpg' | apply_filter('my_thumb') }}" />

{% endblock %}
